<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.cms.message.mapper.CmsMessageMapper">
    
    <resultMap type="CmsMessage" id="CmsMessageResult">
        <result property="id"    column="id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="mainId"    column="main_id"    />
        <result property="likeNum"    column="like_num"    />
        <result property="content"    column="content"    />
        <result property="type"    column="type"    />
        <result property="blogId"    column="blog_id"    />
        <result property="userId"    column="user_id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCmsMessageVo">
        select id, parent_id, main_id, like_num, content, type, blog_id, user_id, del_flag, create_by, create_time, update_by, update_time from cms_message
    </sql>

    <select id="selectCmsMessageList" parameterType="CmsMessage" resultMap="CmsMessageResult">
        <include refid="selectCmsMessageVo"/>
        <where>  
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="mainId != null "> and main_id = #{mainId}</if>
            <if test="likeNum != null "> and like_num = #{likeNum}</if>
            <if test="content != null  and content != ''"> and content like concat('%', #{content}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="blogId != null "> and blog_id = #{blogId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="delFlag != null  and delFlag != ''"> and del_flag = #{delFlag}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="selectChildMessageList" parameterType="CmsMessage" resultMap="CmsMessageResult">
        <include refid="selectCmsMessageVo"/>
        <where>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="mainId != null "> and main_id = #{mainId}</if>
            <if test="likeNum != null "> and like_num = #{likeNum}</if>
            <if test="content != null  and content != ''"> and content like concat('%', #{content}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="blogId != null "> and blog_id = #{blogId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="delFlag != null  and delFlag != ''"> and del_flag = #{delFlag}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
        </where>
        ORDER BY create_time ASC
    </select>

    <select id="selectCmsMessageById" parameterType="Long" resultMap="CmsMessageResult">
        <include refid="selectCmsMessageVo"/>
        where id = #{id}
    </select>
    <select id="selectCmsMessageListBetweenCreateTime" resultType="com.ruoyi.cms.message.domain.CmsMessage">
        <include refid="selectCmsMessageVo"/>
        <where>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="delFlag != null  and delFlag != ''"> and del_flag = #{delFlag}</if>
            <if test="createTimeBegin != null  and createTimeBegin != ''"> and create_time >= #{createTimeBegin}</if>
            <if test="createTimeEnd != null  and createTimeEnd != ''"> and create_time &lt;= #{createTimeEnd}</if>
        </where>
    </select>

    <insert id="insertCmsMessage" parameterType="CmsMessage" useGeneratedKeys="true" keyProperty="id">
        insert into cms_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">parent_id,</if>
            <if test="mainId != null">main_id,</if>
            <if test="likeNum != null">like_num,</if>
            <if test="content != null">content,</if>
            <if test="type != null">type,</if>
            <if test="blogId != null">blog_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">#{parentId},</if>
            <if test="mainId != null">#{mainId},</if>
            <if test="likeNum != null">#{likeNum},</if>
            <if test="content != null">#{content},</if>
            <if test="type != null">#{type},</if>
            <if test="blogId != null">#{blogId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCmsMessage" parameterType="CmsMessage">
        update cms_message
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="mainId != null">main_id = #{mainId},</if>
            <if test="likeNum != null">like_num = #{likeNum},</if>
            <if test="content != null">content = #{content},</if>
            <if test="type != null">type = #{type},</if>
            <if test="blogId != null">blog_id = #{blogId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateDelFlagById" parameterType="Long">
        Update cms_message Set del_flag = '1' where id = #{id}
    </update>
    <update id="updateDelFlagByIds" parameterType="Long">
        Update cms_message Set del_flag = '1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <delete id="deleteCmsMessageById" parameterType="Long">
        delete from cms_message where id = #{id}
    </delete>

    <delete id="deleteCmsMessageByIds" parameterType="String">
        delete from cms_message where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>