<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.cms.fileInfo.mapper.FileBlogInfoMapper">
    <resultMap type="FileBlogInfo" id="FileBlogResult">
        <result property="fileId"       column="file_id"       />
        <result property="blogId"    column="blog_id"    />
    </resultMap>

    <insert id="batchFileBlog">
        insert into cms_blog_file(file_id, blog_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.fileId},#{item.blogId})
        </foreach>
    </insert>

    <delete id="deleteFileBlogByBlogId" parameterType="Long">
        delete from cms_blog_file where blog_id=#{blogId}
    </delete>

    <delete id="deleteFileBlog" parameterType="Long">
        delete from cms_blog_file where blog_id in
        <foreach collection="array" item="blogId" open="(" separator="," close=")">
            #{blogId}
        </foreach>
    </delete>

    <select id="selectFileBlogList" parameterType="Long" resultMap="FileBlogResult">
        select file_id, blog_id from cms_blog_file where blog_id = #{blogId}
    </select>
</mapper>